python/design_patterns/test/__pycache__/__init__.cpython-312.pyc
python/design_patterns/__pycache__/__init__.cpython-312.pyc
python/design_patterns/test/__pycache__/test_singleton.cpython-312-pytest-8.4.2.pyc
python/design_patterns/singleton/__pycache__/__init__.cpython-312.pyc
python/design_patterns/singleton/__pycache__/singleton.cpython-312.pyc
python/design_patterns/builder/__pycache__/__init__.cpython-312.pyc
python/design_patterns/builder/__pycache__/builder.cpython-312.pyc
.gitignore
python/design_patterns/test/__pycache__/test_builder.cpython-312-pytest-8.4.2.pyc
